.title{
    background: #f3f3f3;
    color: var(--ion-color-primary-gray);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
}
.flex_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    .name{
        font-size: 1rem;
        font-weight: 600;
        color: var(--ion-color-primary-gray);
    }
}
.driver{
    padding: 10px;
    ion-textarea{
        border-bottom: 1px solid lightgray;
    }
}
.enviar{
    padding: 0px 10px;
    ion-button{
        --border-radius: 5px;
    }
}